<% layout("/layouts/boilerplate.ejs") %>

<div class="container flex-grow-1 d-flex align-items-center justify-content-center">
    <div class="alert alert-danger text-center w-100">
        <h1 class="display-4">Error <%= err.statusCode %></h1>
        <p class="lead"><%= err.message %></p>
        <hr>
        <a href="/listings" class="btn btn-dark">Back to Listings</a>
    </div>
</div>