<% layout("/layouts/boilerplate.ejs") %>

    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card shadow-lg border-0 rounded-4 p-4">

                <h3 class="text-center mb-4">Login</h3>

                <form method="POST" action="/login" novalidate class="needs-validation">

                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input name="username" type="text" class="form-control rounded-3" required>
                        <div class="invalid-feedback">Username is required.</div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input name="password" type="password" class="form-control rounded-3" required>
                        <div class="invalid-feedback">Password is required.</div>
                    </div>

                    <button class="btn btn-dark w-100 rounded-3 mt-3">Login</button>

                    <div class="text-center mt-3">
                        <small>
                            Don’t have an account?
                            <a href="/signup" class="text-decoration-none fw-semibold">Sign Up</a>
                        </small>
                    </div>

                </form>
            </div>
        </div>
    </div>